# WordPress .gitignore otimizado
# Ignora todo o core, configurações, uploads, logs e toda a pasta wp-content

# Core do WordPress
/wp-admin/
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php

# Configuração
wp-config.php

# Temas e plugins de exemplo
/wp-content/themes/twenty*/    
/wp-content/plugins/hello.php

# Uploads e arquivos de log
/wp-content/uploads/
*.log

# Arquivos de sistema
/.htaccess

# ignore toda a pasta wp-content para permitir o deploy de temas/plugins customizados.
/wp-content/

# Arquivos de backup
*backup*

# Ignora os plugins Elementor e Elementor Pro
/wp-content/plugins/elementor/
/wp-content/plugins/elementor-pro/

# Ignora o plugin all-in-one-wp-migration
/wp-content/plugins/all-in-one-wp-migration/